<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>The new york time</h1>
    <p style="float: right;"><a href="/newArticle" >Add new article</a></p>

    <%for (let index=0; index < allArticles.length; index++) {%>
        <h3>
            <%= allArticles.at(index). title %>
        </h3>
        <p>
            <%= allArticles.at(index). description %>
        </p>
        <a href="/article/<%=allArticles.at(index)._id%>">See More</a>
        <% } %>
</body>

</html>